footer{
    margin-top: 20px;
    border-top: 0.5px solid beige;
    background-image:linear-gradient(to right, #00060aa9, #0f010180),url("../assets/img/lamparas.jpg");
    .padreWsp{
        position: fixed;
        z-index: 999;
        border-radius: 50% 50% 50%;
        bottom: 20px;
        right: 25px;
        padding: 5px;
        animation-name: wsp;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        .wsap{
            color: green;
            font-size: 5rem;
        }
    }
    .footer-img{
        height: 150px;
    } 
}
@keyframes wsp{
    0%{
        transform: scale(1,1) rotate(0deg);
    }
    100%{
        transform: scale(0.85,0.85) rotate(5deg);
    }
}