main{
    h1{
        margin: 30px;
        font-family:$font-familyH1;
        color: white;
        text-align: center;
    }
    h2{
        font-size: larger;
        font-family: $font-familyH2;
        padding-bottom: 15px;
        
    }
    h4{
        font-size: 1.5rem;
    }
    .p-pilates{
        background-image:$bg-dorado;
        border: 2px solid white;
        transform: skew(1deg, 1deg);
    }
    .p-yoga{
        border: 2px solid red;
    }
    @mixin alto($height){
        height: $height;
    }
    .h-horarios{
        @include alto(20px);
    }
}