.card{
    border: 3px solid white;
    background-image: linear-gradient(to right, #AE8625,#F7EF8A,#D2AC47, #EDC967); 
    .h-img{
        height: 300px !important;
        border-bottom: 3px solid white;
    }
} 

.card-taller{
    @extend .card;
    background-image: linear-gradient(to right, #AE8625,#D2AC47, #EDC967); 
}

